[user]
    name = taqun
    email = envoixnet@gmail.com
[credential]
    helper = osxkeychain
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
[alias]
    d  = diff --exit-code
    s  = status
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = simple
