[user]
    name = taqun
    email = 694558+taqun@users.noreply.github.com 
[credential]
    helper = osxkeychain
[color]
    ui = auto
[core]
    excludesfile = ~/.gitignore
	editor = /opt/homebrew/bin/emacs
[alias]
    st = status
    co = checkout
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
	default = simple
